.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.diagram-component {
  width: 1680px;
  height: 790px;
  border: solid 1px black;
  background-color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.title {
	background: rgb(121, 242, 157);
}

.wrapper {
	display: grid;
	grid-template-columns: 400px 1fr;
}

.palette-component {
	box-sizing: border-box;
	background-color: white;
	height: 200px;
}


.graph {
	position: relative;
	height: calc(100vh - 78px);
	overflow: hidden;
	background: #f6f7f9;
}
.itemPanel {
	float: left;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 24px;
	height: calc(100vh - 78px);
	background: #ffffff;
	border-right: 1px solid #e8e8e8;
}
.item {
	margin-bottom: 24px;
	user-select: none;
}
img {
	display: block;
}
